<!--HTML from anywhere-->
<div data-controller="hello">
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>

  <ul class="mt-5" data-controller="sortable">
    <li class="border-2 border-gray-300 rounded-lg px-2 mb-1 hover:ring ring-gray-400">Item 1</li>
    <li class="border-2 border-gray-300 rounded-lg px-2 mb-1 hover:ring ring-gray-400">Item 2</li>
    <li class="border-2 border-gray-300 rounded-lg px-2 mb-1 hover:ring ring-gray-400">Item 3</li>
    <li class="border-2 border-gray-300 rounded-lg px-2 mb-1 hover:ring ring-gray-400">Item 4</li>
  </ul>
</div>
